/**
 * @file style.css
 * @description Global style sheet file.
 */

@import url(./normalize.css);
@import url(./root.css);
@import url(./common.css);
@import url(./keyframes.css);
@import url(./media.css);
@import url(./grid.css);

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}
