@keyframes popup-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popup-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

.animation-in {
    animation: popup-in 0.1s ease forwards;
}

.animation-out {
    animation: popup-out 0.1s ease forwards;
}

.alert-popup {
    transform-origin: 100% 0%;
    will-change: opacity, transform;
}
