@keyframes popup-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popup-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.popup-window {
    padding: var(--popup-window-padding);
    border: var(--popup-window-border-width) solid
        var(--popup-window-border-color);
    border-radius: var(--popup-window-border-radius);
    font-size: 1rem;
    color: var(--popup-window-text-color);
    background-color: var(--popup-window-background-color);
    box-shadow: 0px 0px 8px 4px var(--popup-window-shadow-color);

    &:empty {
        &:before {
            content: 'This drop-down window is empty.';
            font-size: small;
        }
    }

    &.animation-in {
        animation: popup-in 0.1s linear forwards;
    }

    &.animation-out {
        animation: popup-out 0.1s linear forwards;
    }
}
