.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 288px;
    padding: 16px;
    border: 0px solid transparent;
    border-radius: 10px;
    color: var(--context-text);
    background-color: var(--context-background);
    box-shadow: 0px 0px 4px 2px var(--context-shadow);
}

.title {
    margin-bottom: 16px;
    user-select: none;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 12px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
    text-align: left;
}

.label {
    font-weight: 600;
    user-select: none;
}

.submit {
    margin-top: 5px;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.link {
    margin-top: 6px;
    color: var(--context-text-dim);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    filter: brightness(1);
    transition:
        color 0.1s,
        filter 0.1s;

    &:hover {
        text-decoration: underline;
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(0.9);
    }

    &:focus {
        outline: 0;
        filter: brightness(1.2);
    }
}
