.link {
    height: 100%;
    color: var(--header-brand-text);
    text-decoration: none;
}

.text-wrapper {
    width: auto;
    height: 100%;
    padding-right: 10px;
    line-height: var(--header-height);
    user-select: none;
}

.text {
    font-weight: 500;
    font-size: larger;
    text-decoration: none;
}

/* Mobile */
@media only screen and (width <= 740px) {
    .header-brand-text {
        display: none;
    }
}
