.section {
    flex: auto;
    overflow: hidden;
}

.section h1 {
    font-size: 1.5em;
}

.section p ~ p {
    margin-top: 5px;
}

.section h1 + *,
.section h1 + button {
    margin-top: 13px !important;
}

.section.dynamic-height {
    flex: unset;
}
