.error-status-code {
    color: var(--color-primary);
    font-size: 100px !important;
    font-weight: 300;
    transform: translateY(var(--value));
}

.error-data {
    display: flex;
    flex-flow: column wrap;
    max-width: 600px;
    line-height: normal;
    color: var(--color-danger);
    text-align: center;
    font-size: 21px;
    font-weight: 200;
    transform: translateY(var(--value));
}

.homepage-link button {
    display: block;
    margin: 24px auto 0px;
    color: var(--color-white);
    text-decoration: none;
    white-space: nowrap;
    font-size: initial;
    transform: translateY(var(--value));
    & a {
        color: var(--color-white);
        text-decoration: none;
    }
}
