.link {
    width: 50px;
    height: 50px;
    user-select: none;
}

.logo {
    width: auto;
    height: 100%;
    padding: 12px;
    filter: brightness(1);
    transition: all 0.1s;

    &:hover {
        filter: brightness(1.2);
    }
}
